*.csv
*__pycache__/
*.egg-info

*.model_cache/
*dev_tools.py
*/dev_tools/auth.py

*.txt
!requirements.txt
*.xlsx
*.temp/
*.temp_data/
*.tokens/

.DS_Store
.idea
.env
.pkl
.parquet
.json
.log

dist/
build/

!test_data/*